.overlay-container {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url('/src/assets/img/header/landing.webp'); /* Add your image path here */
    background-size: cover;
    background-position: top;
    z-index: 2;
}

.overlay-dark-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); /* Adjust the opacity as needed */
    z-index: 3;
}
.main-header-content {
    background-color: rgba(0, 0, 0, 0); /* Adjust background color of the header content */
    top:10vh;
    position: relative;
    z-index: 3;
}


/* Container for navbar with background image */
.navbar-background-container.scrolled {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100; /* Ensures it stays above other content */
    background-color: rgb(255, 240, 228, 1);
    color: black;
}

.navbar-background-container {
    background: rgba(255, 255, 255, 0); /* Initially transparent background */
}

/* Initial state with white text */
.navbar-nav .nav-link,
.navbar-nav .dropdown-menu .dropdown-item .hover-underline-animation,
.navbar-brand,
.navbar-toggler,
.nav-item .nav-link .i,
.nav-item .nav-link .icon .ion-ios-telephone,
.nav-item .nav-link .hover-underline-animation{
    color: rgb(255, 255, 255) !important;
}

/* Scrolled state with black text */
.navbar-background-container.scrolled .navbar-nav .nav-link,
.navbar-background-container.scrolled .navbar-nav .dropdown-menu .dropdown-item .hover-underline-animation,
.navbar-background-container.scrolled .navbar-brand,
.navbar-background-container.scrolled .nav-item .nav-link .i,
.navbar-background-container.scrolled .nav-item .nav-link .icon .ion-ios-telephone,
.navbar-background-container.scrolled .nav-item .nav-link .hover-underline-animation{
    color: rgb(0, 0, 0) !important;
}


.navbar-background-container.scrolled .navbar-nav .dropdown-menu {
    background-color: rgba(255, 240, 228, 1) !important; /* Change to your desired scrolled background color */
}