.box {
  border: solid rgba(27,32,64,255);
  border-width: 3px 3px;
  font-size: 25px;
  color: rgba(27,32,64,255);
  font-family: 'Abhaya Libre', serif;
  border-radius: 0px 50px;
  padding: 40px;
  margin: 40px;
  width: 275px;
  height: 450px;
  position: relative;
  margin: auto;
  padding-bottom: 100px;
}

.dark {
  border: solid white;
  color: white;
}

.light {
  border: solid rgba(27,32,64,255);
  color: rgba(27,32,64,255);
}

.date {
  text-align: center;
  font-size: 20px;
}

.date-light {
  text-align: center;
  font-size: 20px;
  color: rgb(29,62,55);
}

.content {
  padding-top: 30px;
  text-align: center;
  color: rgb(212, 175, 54);
  font-size: 25px;
}

.content-light {
  padding-top: 30px;
  text-align: center;
  color: rgba(27,32,64,255);
  font-size: 25px;
}

.box button {
  color: rgb(212, 175, 54)!important;
  position: absolute;
  bottom: 30px;
  height: 70px;
  font-size: 25px;
}

.box button:hover {
  transform: scale(1.1);
}

@media (min-width: 1400px) {
  .box {
    width: 325px;
    height: 450px;
  }
}

@media (min-width: 1400px) {
  .box button {
    color: rgb(212, 175, 54)!important;
    position: absolute;
    bottom: 30px;
    height: 80px;
    font-size: 30px;
  }
}

