.custom-height-2col {
  height: 400px;
}

@media screen and (min-width: 1200px) {
  .custom-height-2col {
    height: calc(500px - 0.4 * 100vw);
  }
}

@media screen and (min-width: 992px) {
  .custom-height-2col {
    height: calc(1500px - 0.6* 100vw);
  }
}

@media screen and (max-width: 768px) {
  .custom-height-2col {
    height: fit-content;
  }
}

