
<section class="position-relative py-4 py-xl-5" style="background: rgba(27, 32, 64, 1);"><div class="container position-relative" style="background: rgba(27, 32, 64, 1)">
    <div class="row d-flex justify-content-center m-auto" style="width: 90%;">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-5">
            <div class="card mb-5" style="background: rgba(255,255,255,0);border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;width: 100%;">
                <div class="card-body p-sm-5" style="background: rgba(255,255,255,0);border-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;width: 100%;">
                    <h2 id="AskaQuestion-Section" class="text-center mb-4" style="font-size: 60px;color: rgb(0,0,0);font-family: 'Abhaya Libre', serif;"><span  style="color: rgb(255, 255, 255);">Ask a Question</span></h2>
                    <h2 class="text-center mb-4" style="font-size: 25px;font-family: 'Abhaya Libre', serif;"><span style="color: rgb(255, 255, 255);">Our Expert Tutors will answer your question in just a few days. You will be notified by email when your answer is live on our website! </span></h2>
                    <form style="width: 100%;" id="ask-question">
                        <div class="mb-3 text-left">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="padding-right: 15px;padding-left: 15px;"><label class="form-label form-label form-label form-label form-label form-label form-label" style="font-size:25px;font-family:'Abhaya Libre', serif;padding-top:10px;color:rgb(255,255,255);" for="name">First Name</label>
                                    <div></div><input id="name" class="border-white form-control form-control form-control form-control form-control form-control form-control form-control" type="text" inputmode="verbatim" name="name" placeholder="First Name" style="border-color:rgb(0,0,0);background:rgba(255,255,255,0.35);font-size:25px;font-family:'Abhaya Libre', serif;color:rgb(255, 255, 255);" />
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="padding-right: 15px;padding-left: 15px;"><label class="form-label form-label form-label form-label form-label form-label form-label" style="font-size:25px;font-family:'Abhaya Libre', serif;padding-top:10px;color:rgb(255,255,255);" for="surname">Last Name</label>
                                    <div></div><input id="surname" class="border-white form-control form-control form-control form-control form-control form-control form-control form-control" type="text" inputmode="verbatim" name="surname" placeholder="Last Name" style="border-color:rgb(0,0,0);background:rgba(255,255,255,0.35);font-size:25px;font-family:'Abhaya Libre', serif;color:rgb(255, 255, 255);" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="padding-right: 15px;padding-left: 15px;"><label class="form-label form-label form-label form-label form-label form-label form-label" style="font-family:'Abhaya Libre', serif;font-size:25px;padding-top:10px;color:rgb(255,255,255);" for="email">Email address</label>
                                    <div></div><input id="email" class="border-white form-control form-control form-control form-control form-control form-control form-control form-control" type="email" inputmode="email" name="email" placeholder="Email" required style="border-color:rgb(0,0,0);background:rgba(255,255,255,0.35);font-size:25px;font-family:'Abhaya Libre', serif;color:rgb(255, 255, 255);" />
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="padding-right: 15px;padding-left: 15px;"><label class="form-label form-label form-label form-label form-label form-label form-label" style="font-size:25px;font-family:'Abhaya Libre', serif;padding-top:10px;color:rgb(255,255,255);" for="phone">Telephone number</label>
                                    <div></div><input id="prefix" type="hidden" name="prefix" value="1" /><input id="phone" class="border-white" type="tel" name="phone" style="background:rgba(255,255,255,0.35);border-radius:4px;border-style:solid;border-top-style:solid;border-top-color:rgb(0,0,0);border-right-color:rgb(0,0,0);border-bottom-style:solid;border-bottom-color:rgb(0,0,0);border-left-style:solid;border-left-color:rgb(0,0,0);height:51.5px;width:100%;font-size:25px;font-family:'Abhaya Libre', serif; color:rgb(255, 255, 255);" />
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 text-left" style="padding-right: 15px;padding-left: 15px;"><label class="form-label form-label form-label form-label form-label form-label form-label none" for="type_subject" style="font-family:'Abhaya Libre', serif;font-size:25px;color:rgb(255,255,255);">What subject is your question for?</label><select onchange="yesnoCheck(this);" id="type_subject" class="border-white form-control form-control" name="type_subject" style="background:rgba(255,255,255,0.35);border-top-style:solid;border-top-color:rgb(0,0,0);border-right-style:solid;border-right-color:rgb(0,0,0);border-bottom-style:solid;border-bottom-color:rgb(0,0,0);border-left-style:solid;border-left-color:rgb(0,0,0);font-size:25px;font-family:'Abhaya Libre', serif;color:rgb(255, 255, 255);">
                                <option value disabled selected>Choose an option</option>
                                <option value="Maths">Maths</option>
                                <option value="Physics">Physics</option>
                                <option value="English">English</option>
                                <option value="Chemistry">Chemistry</option>
                                <option value="Biology">Biology</option>
                                <option value="History">History</option>
                                <option value="Geography">Geography</option>
                                <option value="Economics">Economics</option>
                                <option value="Computer_Science">Computer Science</option>
                                <option value="Psychology">Psychology</option>
                                <option value="Sociology">Sociology</option>
                                <option value="Business_Studies">Business Studies</option>
                                <option value="Art and Design">Art and Design</option>
                                <option value="Music">Music</option>
                                <option value="Foreign_Languages">Foreign Languages</option>
                                <option value="Physical_Education">Physical Education</option>
                            </select></div>
                            <div class="mb-3 text-left" style="padding-right: 15px;padding-left: 15px;"><label class="form-label form-label form-label form-label form-label form-label form-label none" for="type_level" style="font-family:'Abhaya Libre', serif;font-size:25px;color:rgb(255,255,255);">What level is your question for?</label><select onchange="yesnoCheck(this);" id="type_level" class="border-white form-control form-control" name="type_level" style="background:rgba(255,255,255,0.35);border-top-style:solid;border-top-color:rgb(0,0,0);border-right-style:solid;border-right-color:rgb(0,0,0);border-bottom-style:solid;border-bottom-color:rgb(0,0,0);border-left-style:solid;border-left-color:rgb(0,0,0);font-size:25px;font-family:'Abhaya Libre', serif;color:rgb(255, 255, 255);">
                                <option value disabled selected>Choose an option</option>
                                <option value="Maths">GCSE</option>
                                <option value="Physics">MYP</option>
                                <option value="English">A-Levels</option>
                                <option value="Chemistry">IB</option>
                                <option value="Biology">University Admissions</option>
                                <option value="History">University Undergraduate</option>
                                <option value="Geography">University Masters</option>
                                <option value="Economics">PhD</option>
                            </select></div>
                        <div class="text-left" style="padding-right: 15px;padding-left: 15px;"><label class="form-label form-label form-label form-label form-label form-label form-label title" label style="font-family:'Abhaya Libre', serif;font-size:25px;color:rgb(255,255,255);">Type your Question</label></div>
                        <div class="mb-3" for="question" style="padding-left: 15px;padding-right: 15px;"><textarea id="question" class="border-white form-control form-control form-control form-control form-control form-control form-control" name="question" placeholder="Your question" rows="3" style="border-color:rgb(0,0,0);background:rgba(255,255,255,0.35);font-size:25px;font-family:'Abhaya Libre', serif;color:rgb(255, 255, 255);"></textarea></div>
                        <div class="m-auto" style="padding: 0px;">
                            <div class="col-sm-8 col-md-5 col-lg-3 col-xl-3 col-xxl-3 m-auto"><button id="submit_button" class="btn btn-primary d-block submit w-100 mb-3 h-50" style="background: rgb(212,175,54);border-color: rgb(212, 175, 54);" type="submit">
                                    <div id="button_label_submitting" style="display: none;color: rgb(255,255,255);"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting </div>
                                    <div id="button_label_submit" style="display:block;color:rgb(255,255,255);font-size:25px;font-family:'Abhaya Libre';">Submit</div>
                                    <div id="button_label_submitted" style="display:none;color:rgb(255,255,255);font-size:25px;font-family:'Abhaya Libre';">Submitted</div>
                                </button></div>
                        </div>
                        <div><label id="confirmation" class="form-label form-label form-label form-label form-label form-label form-label form-label hidden" style="color: white;" hidden> </label></div>
                        <div><label id="send_error" class="form-label form-label form-label form-label form-label form-label form-label hidden" style="color: white;" hidden></label></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div></section>

<script>

    const scriptURL_askquestion = 'https://script.google.com/macros/s/AKfycbwt854knT_7WSaw2kdJ93FAJq-7e1v_tfnrhA1a8yrovwDFhJeEG8UbsneRVobmzLAU/exec'
        form = document.querySelector('#ask-question')
        form.addEventListener('submit', handleSubmit)
    
        function on_success(message) {
        console.log("post:", message);
        if (message.toString() == '200') {
            
            var f = document.forms['ask-question'];
    
            for (var i = 0, fLen = f.elements.length; i < fLen; i++) {
                f.elements[i].readOnly = true;
                f.elements[i].disabled = true;
            }
            var m = document.getElementById("send_error");
            m.hidden = true;
            var m = document.getElementById("confirmation");
            m.hidden = false;
    
            m.innerHTML = f.elements["name"].value + ", thank you for asking a question. You should have now received a confirmation email at the following address: " +  f.elements["email"].value + ". We aim to get back to you within 2-3 days. If you do not receive an email in the next 10 minutes, please try submitting the question again or contact <a href='mailto:info@beyond-tutors.com'>info@beyond-tutors.com</a> for any questions."
    
    
            document.getElementById("button_label_submitting").style.display = "none";
            document.getElementById("button_label_submitted").style.display = "block";
            
        } 
        else {
        console.log("ERROR");
        var m = document.getElementById("send_error");
        m.hidden = false;
        m.innerHTML = f.elements["name"].value + ", we are sorry to inform you that an error has occured while submitting the form. Please contact <a href='mailto:salvati.flavio@gmail.com'>enquiries@beyond-tutors.com</a> directly, or call us at +44 263 573 198."
        var button = document.getElementById('submit_button');
        button.disabled = false;   
        document.getElementById("button_label_submit").style.display = "block";
        document.getElementById("button_label_submitting").style.display = "none";
            }
    }
    
        
    function handleSubmit(event) {
        document.getElementById("button_label_submit").style.display = "none";
        document.getElementById("button_label_submitting").style.display = "block";
        var button = document.getElementById('submit_button');
        button.disabled = true;
        event.preventDefault()
        document.getElementById("prefix").value = iti.getSelectedCountryData().dialCode
        const form = document.forms['ask-question']
        var formdata = new FormData(form);
        
        for (var pair of formdata.entries()) {
            console.log(pair[0]+ ', ' + pair[1]); 
        }
        console.log(formdata)
        fetch(scriptURL_askquestion, { method: 'POST', body: formdata})
        .then(() => { on_success(200)} )
        .catch(error => { on_success(error) }) 
    
    }
        
    
    
    </script>