<footer class="page-footer" style="overflow-x: hidden;">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <h4 style="color: rgb(0,0,0);font-size: 18px;font-family: 'Abhaya Libre', serif;">Company</h4>
                <ul class="footer-links">
                    <li style="font-size: 15px;font-family: 'Abhaya Libre', serif;color: #000000;"><a href="/tutor-applications" style="font-size: 15px;color: rgb(0,0,0);">Tutor Applications</a></li>
                    <li><a href="/referrals" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Referrals</a></li>
                    <li><a href="/corporate-tutoring" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Corporate Tutoring</a></li>
                    <li style="font-size: 15px;font-family: 'Abhaya Libre', serif;color: #000000;"><a href="/business-partnerships" style="font-size: 15px;color: rgb(0,0,0);">Business Partnerships</a></li>
                    <li><a href="#" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Access Programme</a></li>
                    <li><a href="/resources/insights" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Insights</a></li>
                    <li></li>
                    <li><a href="/resources/past-papers" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Past Papers</a></li>
                </ul>
                <h4 style="color: rgb(0,0,0);font-size: 18px;font-family: 'Abhaya Libre', serif;">Resources</h4>
                <ul class="footer-links">
                    <li style="font-size: 15px;font-family: 'Abhaya Libre', serif;color: #000000;"><a href="/tutor-applications" style="font-size: 15px;color: rgb(0,0,0);">Tutor Applications</a></li>
                    <li><a href="/referrals" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Referrals</a></li>
                    <li><a href="/corporate-tutoring" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Corporate Tutoring</a></li>
                    <li style="font-size: 15px;font-family: 'Abhaya Libre', serif;color: #000000;"><a href="/business-partnerships" style="font-size: 15px;color: rgb(0,0,0);">Business Partnerships</a></li>
                    <li><a href="#" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Access Programme</a></li>
                    <li><a href="/resources/insights" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Insights</a></li>
                    <li></li>
                    <li><a href="/resources/past-papers" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Past Papers</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h4 style="color: rgb(0,0,0);font-size: 18px;font-family: 'Abhaya Libre', serif;">Popular Services</h4>
                <ul class="footer-links">
                    <li><a href="/school-admissions" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">School Admissions</a></li>
                    <li><a href="/GCSE" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">GCSE</a></li>
                    <li><a href="/GCSE" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">IGCSE</a></li>
                    <li><a href="/A-Levels" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">A-Level</a></li>
                    <li><a href="/IB" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">IB</a></li>
                    <li><a href="/oxbridge" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Oxbridge</a></li>
                    <li><a href="university-admission/ivy-league" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">US Admissions</a></li>
                    <li><a href="#" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">AP</a></li>
                    <li><a href="#" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">SAT</a></li>
                    <li><a href="/careers-advice" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Careers Advice</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h4 style="color: rgb(0,0,0);font-size: 18px;font-family: 'Abhaya Libre', serif;">Modes of Teaching</h4>
                <ul class="footer-links">
                    <li><a href="teaching-modes/hourly-private-tuition" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Hourly Private Tuition</a></li>
                    <li><a href="teaching-modes/hybrid-private-tuition" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Hybrid Private Tuition</a></li>
                    <li><a href="teaching-modes/homeschooling" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Homeschooling</a></li>
                    <li><a href="#" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Governor &amp; Governess</a></li>
                    <li><a href="#" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">UK Relocation</a></li>
                    <li></li>
                </ul>
                <ul class="footer-links">
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h4 style="color: rgb(0,0,0);font-size: 18px;font-family: 'Abhaya Libre', serif;">Contact US</h4>
                <ul class="footer-links">
                    <li><a href="#main_header" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Beyond Tutors</a></li>
                    <li><a href="mailto:info@beyond-tutors.com" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">info@beyond-tutors.com</a></li>
                    <li><a href="#" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">+44 217893418</a></li>
                    <li><a href="#contact-us" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Enquire Now</a></li>
                </ul>
                <h4 style="color: rgb(0,0,0);font-size: 18px;font-family: 'Abhaya Libre', serif;">Privacy Policy</h4>
                <ul class="footer-links">
                    <li><a href="policy/terms-and-conditions" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Terms and Conditions</a></li>
                    <li><a href="policy/safeguarding-policy" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Safeguarding Policy</a></li>
                    <li><a href="policy/anti-bribery-policy" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Anti-Bribery Policy</a></li>
                    <li><a href="policy/modern-slavery-statement" style="font-size: 15px;color: #000000;font-family: 'Abhaya Libre', serif;">Modern Slavery Statement</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="footer-legal">
            <div class="float-md-end region"><a href="#"><img alt="United Kingdom Flag Icon" src="src/assets/img/aux/800px-United-kingdom_flag_icon_round.svg.png" width="16" height="16">United Kingdom</a></div>
            <div class="d-inline-block copyright">
                <p class="d-inline-block">Copyright 2024 Beyond Tutors Ltd&nbsp;</p>
            </div><div class="d-inline-block legal-links">
<div class="d-inline-block item">
<h5><a href="///policy/terms-and-conditions" onclick="window.open('policy/terms-and-conditions', '_self');"><span style="color: rgb(0, 0, 0);">Terms and Conditions</span></a></h5>
</div>
<div class="d-inline-block item">
<h5><a href="///policy/safeguarding-policy" onclick="window.open('policy/safeguarding-policy', '_self');"><span style="color: rgb(0, 0, 0);">Safeguarding Policy</span></a></h5>
</div>
<div class="d-inline-block item">
<h5><a href="///policy/data-privacy-policy" onclick="window.open('policy/data-privacy-policy', '_self');"><span style="color: rgb(0, 0, 0);">Data Privacy Policy</span></a></h5>
</div>
<div class="d-inline-block item">
<h5><a href="///policy/anti-bribery-policy" onclick="window.open('policy/anti-bribery-policy', '_self');"><span style="color: rgb(0, 0, 0);">Anti-Bribery Policy</span></a></h5>
</div>
<div class="d-inline-block item">
<h5><a href="///policy/modern-slavery-statement" onclick="window.open('policy/modern-slavery-statement', '_self');"><span style="color: rgb(0, 0, 0);">Modern Slavery Statement</span></a></h5>
</div>

</div>
        </div>
    </div>
</footer>