<div class="container" style="margin: 0px;padding: 0px;width: 100%;padding-right: 0px;max-width: 100%;background: rgba(27,32,64,255);">
    <h2 class="text-center" style="padding-bottom: 100px;padding-top: 100px;"><span style="color: rgb(0,0,0);font-size: 60px;font-family: 'Abhaya Libre', serif;font-weight: bold;"><span style="color: rgb(255, 255, 255);">Our Process</span></span></h2>
    <div class="table-responsive d-none d-lg-block d-xl-block d-xxl-block m-auto" style="background: rgba(255,255,255,0);border-style: none;width: 90%;padding-bottom: 50px;">
        <table class="table">
            <thead>
                <tr>
                    <th style="background: rgba(255,255,255,0);border-width: 2px;border-color: rgb(255,255,255);border-right-width: 2px;border-right-style: solid;border-bottom-style: none;"><h1 class="display-5 fw-bold text-white d-flex justify-content-center mb-0 center" style="text-align:center;font-size:40px;color:#d4af36;position:relative;transform:translate(0px);"><strong><span style="color:rgb(212, 175, 54);">1.</span></strong></h1></th>
                    <th style="background: rgba(255,255,255,0);border-width: 2px;border-color: rgb(255,255,255);border-right-width: 2px;border-right-style: solid;border-bottom-style: none;"><h1 class="display-5 fw-bold text-white d-flex justify-content-center mb-0 center" style="text-align:center;font-size:40px;color:#d4af36;position:relative;transform:translate(0px);"><strong><span style="color:rgb(212, 175, 54);">2.</span></strong></h1></th>
                    <th style="background: rgba(255,255,255,0);border-width: 2px;border-color: rgb(255,255,255);border-right-width: 2px;border-right-style: solid;border-bottom-style: none;"><h1 class="display-5 fw-bold text-white d-flex justify-content-center mb-0 center" style="text-align:center;font-size:40px;color:#d4af36;position:relative;transform:translate(0px);"><strong><span style="color:rgb(212, 175, 54);">3.</span></strong></h1></th>
                    <th style="background: rgba(255,255,255,0);border-width: 2px;border-color: rgb(255,255,255);border-right-width: 2px;border-right-style: solid;border-bottom-style: none;"><h1 class="display-5 fw-bold text-white d-flex justify-content-center mb-0 center" style="text-align:center;font-size:40px;color:#d4af36;position:relative;transform:translate(0px);"><strong><span style="color:rgb(212, 175, 54);">4.</span></strong></h1></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="background: rgba(255,255,255,0);border-width: 2px;border-color: rgb(255,255,255);border-top-style: none;border-right-width: 2px;border-right-style: solid;border-bottom-style: none;"><h2 class="display-5 fw-bold text-white mb-0" style="font-family: 'Abhaya Libre', serif; text-align:center;font-size:40px;color:#d4af36;font-weight: bold;"><strong><span style="color:rgb(255, 255, 255);">Contact us with your request</span></strong></h2></td>
                    <td style="background: rgba(255,255,255,0);border-width: 2px;border-color: rgb(255,255,255);border-top-style: none;border-right-width: 2px;border-right-style: solid;border-bottom-style: none;"><h2 class="display-5 fw-bold text-white mb-0" style="font-family: 'Abhaya Libre', serif; text-align:center;font-size:40px;color:#d4af36;font-weight: bold;"><strong><span style="color:rgb(255,255, 255);background-color:rgba(248, 249, 254, 0);">We send you a proposal</span></strong></h2></td>
                    <td style="background: rgba(255,255,255,0);border-width: 2px;border-color: rgb(255,255,255);border-top-style: none;border-right-width: 2px;border-right-style: solid;border-bottom-style: none;"><h2 class="display-5 fw-bold text-white mb-0" style="font-family: 'Abhaya Libre', serif; text-align:center;font-size:40px;color:#d4af36;font-weight: bold;"><strong><span style="color:rgb(255, 255, 255);background-color:rgba(248, 249, 254, 0);">Get Matched with a Tutor</span></strong></h2></td>
                    <td style="background: rgba(255,255,255,0);border-width: 2px;border-color: rgb(255,255,255);border-top-style: none;border-right-width: 2px;border-right-style: solid;border-bottom-style: none;"><h2 class="display-5 fw-bold text-white mb-0" style="font-family: 'Abhaya Libre', serif; text-align:center;font-size:40px;color:#d4af36;font-weight: bold;"><strong><span style="color:rgb(255, 255, 255);background-color:rgba(248, 249, 254, 0);">Start Your Tuition</span></strong></h2></td>
                </tr>
                <tr>
                    <td style="background: rgba(255,255,255,0);border-width: 2px;border-color: rgb(255,255,255);border-top-style: none;border-right-width: 2px;border-right-style: solid;"><p class="mb-0" style="font-family:'Abhaya Libre', serif;text-align:center;background:rgba(255,255,255,0); line-height:35px"><span style="color:rgb(0, 0, 0);background-color:rgba(29, 63, 55, 0);font-size:25px;color:rgb(255,255,255)">We begin by understanding the needs and aspirations of each family in order to create honest, realistic and achievable educational attainment plans.</span></p></td>
                    <td style="background: rgba(255,255,255,0);border-width: 2px;border-color: rgb(255,255,255);border-top-style: none;border-right-width: 2px;border-right-style: solid;"><p class="mb-0" style="font-family: 'Abhaya Libre', serif; text-align:center;background:rgba(255,255,255,0);font-size:25px; line-height:35px"><span style="color:rgb(255, 255, 255);">From our network of elite tutors and mentors we hand-select those who match the requirements of the role and brief them with our expectations.&nbsp;</span></p></td>
                    <td style="background: rgba(255,255,255,0);border-width: 2px;border-color: rgb(255,255,255);border-top-style: none;border-right-width: 2px;border-right-style: solid;"><p class="mb-0" style="font-family: 'Abhaya Libre', serif; text-align:center;background:rgba(255,255,255,0);font-size:25px; line-height:35px"><span style="color:rgb(255, 255, 255);">A proposal containing appropriately matched professional tutors or mentors is provided to you. Ultimately, you will be asked if they are the right fit for your family.</span></p></td>
                    <td style="background: rgba(255,255,255,0);border-width: 2px;border-color: rgb(255,255,255);border-top-style: none;border-right-width: 2px;border-right-style: solid;"><p class="mb-0" style="font-family: 'Abhaya Libre', serif;text-align:center;background:rgba(255,255,255,0);font-size:25px; line-height:35px"><span style="color:rgb(255, 255, 255);">Regular tuition begins, usually after an initial assessment, in which the tutor or mentor establishes a scheme of work befitting the family's goals.</span></p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-sm-block d-lg-none m-auto table-responsive" style="background: rgba(255,255,255,0);border-style: none;width: 90%;"><table class="table">
        <thead>
            <tr>
                <th style="background:rgba(255,255,255,0);border-style:none;border-top:1px solid rgb(255,255,255);border-right:1px solid rgb(255,255,255);border-left:1px solid rgb(255,255,255);">
                    <h1 class="display-5 fw-bold text-white d-flex justify-content-center mb-0 center" style="text-align:center;font-size:25px;color:#d4af36;position:relative;transform:translate(0px);"><strong><span style="color:rgb(212, 175, 54);">1.</span></strong></h1>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background:rgba(255,255,255,0);border-style:none;border-right:1px solid rgb(255,255,255);border-left:1px solid rgb(255,255,255);">
                    <h2 class="display-5 fw-bold text-white mb-0" style="text-align:center;font-size:25px;color:#d4af36;"><strong><span style="color:rgb(255,255,255);">Contact us with your request</span></strong></h2>
                </td>
            </tr>
            <tr>
                <td style="background:rgba(255,255,255,0);border-style:none;border-right:1px solid rgb(255,255,255);border-bottom:1px solid rgb(255,255,255);border-left:1px solid rgb(255,255,255);">
                    <p class="mb-0" style="text-align:center;background:rgba(255,255,255,0);"><span style="color:rgb(255,255,255);background-color:rgba(29, 63, 55, 0);">We begin by understanding the needs and aspirations of each family in order to create honest, realistic and achievable educational attainment plans.</span></p>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th style="background:rgba(255,255,255,0);border-style:none;border-top:1px solid rgb(255,255,255);border-right:1px solid rgb(255,255,255);border-left:1px solid rgb(255,255,255);">
                    <h1 class="display-5 fw-bold text-white d-flex justify-content-center mb-0 center" style="text-align:center;font-size:25px;color:#d4af36;position:relative;transform:translate(0px);"><strong><span style="color:rgb(212, 175, 54);">2.</span></strong></h1>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background:rgba(255,255,255,0);border-style:none;border-right:1px solid rgb(255,255,255);border-left:1px solid rgb(255,255,255);">
                    <h2 class="display-5 fw-bold text-white mb-0" style="text-align:center;font-size:25px;color:#d4af36;"><strong><span style="color:rgb(255,255,255);background-color:rgba(248, 249, 254, 0);">We send you a proposal</span></strong></h2>
                </td>
            </tr>
            <tr>
                <td style="background:rgba(255,255,255,0);border-style:none;border-right:1px solid rgb(255,255,255);border-bottom:1px solid rgb(255,255,255);border-left:1px solid rgb(255,255,255);">
                    <p class="mb-0" style="text-align:center;background:rgba(255,255,255,0);"><span style="color:rgb(255,255,255);">From our network of elite tutors and mentors we hand-select those who match the requirements of the role and brief them with our expectations.&nbsp;</span></p>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th style="background:rgba(255,255,255,0);border-style:none;border-top:1px solid rgb(255,255,255);border-right:1px solid rgb(255,255,255);border-left:1px solid rgb(255,255,255);">
                    <h1 class="display-5 fw-bold text-white d-flex justify-content-center mb-0 center" style="text-align:center;font-size:25px;color:#d4af36;position:relative;transform:translate(0px);"><strong><span style="color:rgb(212, 175, 54);">3.</span></strong></h1>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background:rgba(255,255,255,0);border-style:none;border-right:1px solid rgb(255,255,255);border-left:1px solid rgb(255,255,255);">
                    <h2 class="display-5 fw-bold text-white mb-0" style="text-align:center;font-size:25px;color:#d4af36;"><strong><span style="color:rgb(255,255,255);background-color:rgba(248, 249, 254, 0);">Get Matched with a Tutor</span></strong></h2>
                </td>
            </tr>
            <tr>
                <td style="background:rgba(255,255,255,0);border-style:none;border-right:1px solid rgb(255,255,255);border-bottom:1px solid rgb(255,255,255);border-left:1px solid rgb(255,255,255);">
                    <p class="mb-0" style="text-align:center;background:rgba(255,255,255,0);"><span style="color:rgb(255,255,255);">A proposal containing appropriately matched professional tutors or mentors is provided to you. Ultimately, you will be asked if they are the right fit for your family.</span></p>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th style="background:rgba(255,255,255,0);border-style:none;border-top:1px solid rgb(255,255,255);border-right:1px solid rgb(255,255,255);border-left:1px solid rgb(255,255,255);">
                    <h1 class="display-5 fw-bold text-white d-flex justify-content-center mb-0 center" style="text-align:center;font-size:25px;color:#d4af36;position:relative;transform:translate(0px);"><strong><span style="color:rgb(212, 175, 54);">4.</span></strong></h1>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background:rgba(255,255,255,0);border-style:none;border-right:1px solid rgb(255,255,255);border-left:1px solid rgb(255,255,255);">
                    <h2 class="display-5 fw-bold text-white mb-0" style="text-align:center;font-size:25px;color:#d4af36;"><strong><span style="color:rgb(255,255,255);background-color:rgba(248, 249, 254, 0);">Start Your Tuition</span></strong></h2>
                </td>
            </tr>
            <tr>
                <td style="background:rgba(255,255,255,0);border-style:none;border-right:1px solid rgb(255,255,255);border-bottom:1px solid rgb(255,255,255);border-left:1px solid rgb(255,255,255);">
                    <p class="mb-0" style="text-align:center;background:rgba(255,255,255,0);"><span style="color:rgb(255,255,255);">Regular tuition begins, usually after an initial assessment, in which the tutor or mentor establishes a scheme of work befitting the family's goals.</span></p>
                </td>
            </tr>
        </tbody>
    </table></div>
</div>

