<div class="container" style="overflow-x: hidden; background: linear-gradient(rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.32) 28%, rgba(0,0,0,0.3) 72%, rgba(0,0,0,0.05) 90%), url(&quot;/src/assets/img/aux/graduate.jpg&quot;) bottom / cover, rgba(232,157,69,0);width: 100%;max-width: 100%;padding-right: 0px;padding-left: 0px;padding-top: 100px;padding-bottom: 100px;">
    <div class="table-responsive d-none d-lg-block d-xl-block d-xxl-block slide-in from-bottom" style="width:100%;">
        <table class="table">
            <thead>
                <tr>
                    <th style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;"><img class="d-flex mx-auto" alt="Medal Icon" src="/src/assets/img/aux/Medal.png" style="width: 25%;padding-top: 50px;">
                        <h2 style="font-size: 50px;text-align: center;"><span style="color: rgb(255, 255, 255);">100%</span></h2>
                    </th>
                    <th style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;"><img class="d-flex mx-auto" alt="Globe Icon" src="/src/assets/img/aux/Globe.png" style="width: 25%;padding-top: 50px;">
                        <h2 style="font-size: 50px;text-align: center;"><span style="color: rgb(255, 255, 255);">Global</span></h2>
                    </th>
                    <th style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;"><img class="d-flex mx-auto" alt="Crest Icon" src="/src/assets/img/aux/Crest.png" style="width: 30%;padding-top: 50px;">
                        <h2 style="font-size: 50px;text-align: center;"><span style="color: rgb(255, 255, 255);">97%</span></h2>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="background: rgba(255,255,255,0);border-top-style: none;border-bottom-style: none;padding: 0px;text-align: center;">
                        <h3 style="font-size: 35px;"><span style="color: rgb(212, 175, 54);">Professional Tutors</span></h3>
                    </td>
                    <td style="background: rgba(255,255,255,0);border-top-style: none;border-bottom-style: none;padding: 0px;text-align: center;">
                        <h3 style="font-size: 35px;"><span style="color: rgb(212, 175, 54);">International Tuition</span></h3>
                    </td>
                    <td style="background: rgba(255,255,255,0);border-top-style: none;border-bottom-style: none;padding: 0px;">
                        <h3 style="font-size: 35px;text-align: center;"><span style="color: rgb(212, 175, 54);">Independent School Entrance Success</span></h3>
                    </td>
                    <td style="background: rgba(255,255,255,0);border-top-style: none;border-bottom-style: none;padding: 0px;"></td>
                </tr>
                <tr>
                    <td style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;">
                        <p style="text-align: center;font-size: 20px;"><span style="color: rgb(250, 234, 232); background-color: rgba(250, 234, 232, 0);">All of our elite tutors are full-time professionals, with at least five years of tuition experience and over 5000 accrued teaching hours in their subject.</span></p>
                    </td>
                    <td style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;">
                        <p style="text-align: center;font-size: 20px;"><span style="color: rgb(255, 255, 255);">Based in Cambridge, with operations spanning the globe, we can provide our services to support your family anywhere.</span></p>
                    </td>
                    <td style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;">
                        <p style="text-align: center;font-size: 20px;"><span style="color: rgb(255, 255, 255);">Our families consistently gain offers from at least one of their target schools, including Eton, Harrow, Wellington and Wycombe Abbey.</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-sm-block d-lg-none table-responsive" style="width:100%;">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;"><img class="d-flex mx-auto" alt="Medal Icon" src="/src/assets/img/aux/Medal.png" style="width: 20%;margin: 0px;padding-top: 30px;padding-bottom: 30px;">
                            <h1 style="font-size: 50px;text-align: center;"><span style="color: rgb(255, 255, 255);">100%</span></h1>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;">
                            <h1 style="font-size: 30px;text-align: center;"><span style="color: rgb(212, 175, 54);">Professional Tutors</span></h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;">
                            <p style="text-align: center;font-size: 20px;"><span style="color: rgb(250, 234, 232); background-color: rgba(250, 234, 232, 0);">All of our elite tutors are full-time professionals, with at least five years of tuition experience and over 5000 accrued teaching hours in their subject.</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;"><img class="d-flex mx-auto" alt="Globe Icon" src="/src/assets/img/aux/Globe.png" style="width: 20%;padding-top: 30px;margin: 0px;padding-bottom: 30px;">
                            <h1 style="font-size: 50px;text-align: center;"><span style="color: rgb(255, 255, 255);">Global</span></h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;">
                            <h1 style="font-size: 30px;text-align: center;"><span style="color: rgb(212, 175, 54);">International Tuition</span></h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;">
                            <p style="text-align: center;font-size: 20px;"><span style="color: rgb(255, 255, 255);">Based in Cambridge, with operations spanning the globe, we can provide our services to support your family anywhere.</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;"><img class="d-flex mx-auto" alt="Crest Icon" src="/src/assets/img/aux/Crest.png" style="width: 20%;margin: 0px;padding-top: 30px;padding-bottom: 30px;">
                            <h1 style="font-size: 50px;text-align: center;"><span style="color: rgb(255, 255, 255);">97%</span></h1><i class="typcn typcn-star"></i>
                        </td>
                    </tr>
                    <tr>
                        <td style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;">
                            <h1 style="font-size: 30px;text-align: center;"><span style="color: rgb(212, 175, 54);">Independent School Entrance Success</span></h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="background:rgba(255,255,255,0);border-top-style:none;border-bottom-style:none;padding-top:-300px;">
                            <p style="text-align: center;font-size: 20px;"><span style="color: rgb(255, 255, 255);">Our families consistently gain offers from at least one of their target schools, including Eton, Harrow, Wellington and Wycombe Abbey.</span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container py-4 py-xl-5" style="overflow-x: hidden; background: rgba(27,32,64,255);margin: 0px;padding: 0px;width: 100%;">
    <div class="row gy-4 gy-md-0 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 m-auto" style="padding-left: 20px;padding-right: 20px;padding-bottom: 50px;padding-top: 50px;width: 95%;">
        <div class="col m-auto">
            <h2 class="slide-in from-left" style="font-family: 'Abhaya Libre', serif;font-size: 50px;text-align: center;color: rgb(0,0,0);"><span style="font-weight: normal !important; color: rgb(255, 255, 255);">Book a free </span><br><span style="font-weight: normal !important; color: rgb(255, 255, 255);">30-minute consultation </span><br><span style="font-weight: normal !important; color: rgb(255, 255, 255);">session</span></h2>
        </div>
        <div class="col text-center text-md-start justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
            <p class="w-100 slide-in from-right" style="font-size: 25px;font-family: 'Abhaya Libre', serif;margin: 0px;width: 100%;"><span style="color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0);">At the Beyond Tutors we recognise that no two students are the same.&nbsp;</span><br><br><span style="color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0);">That’s why we’ve transcended the traditional online tutoring model of cookie-cutter solutions to intricate educational problems. Instead, we devise a bespoke tutoring plan for each individual student, to support you on your path to academic success.</span><br><br><span style="color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0);">To help us understand your unique educational needs, we provide a&nbsp;free 30-minute consultation&nbsp;with one of our founding partners, so we can devise the tutoring plan that’s right for you.</span><br><br><span style="color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0);">To ensure we can best prepare for this consultation, we ask you to fill out the short form below.</span></p>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/src/assets/css/text-box.css">